@model HomeIndexModel

@{
    ViewData["Title"] = "Anasayfa";
}


<table class="table table-bordered table-striped col">
    <thead class="">
        @foreach (var status in Model.OfferViewModels)
        {
        <th scope="col">@status.StatusName (@status.Price.ToString("n0") TL)</th>
        }
    </thead>
    <tbody>
        <tr>
            @foreach (var offer in Model.OfferViewModels)
            {
            <tr>
                <td scope="row">
                        @offer.OfferTitle
                    <br />
                        @offer.CustomerName

                    <br />
                        @offer.Price.ToString("n0") TL

                    <a class="text-primary text-center" asp-action="Edit" asp-controller="Offer" asp-route-id="@offer.OfferId">güncelle</a> /
                    <a class="text-primary text-center" asp-action="Delete" asp-controller="Offer" asp-route-id="@offer.OfferId">sil</a>

                </td>
            </tr>
            }
        </tr>
    </tbody>
</table>
